In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

from sklearn.linear_model import LinearRegression

In [8]:
path = 'data/'
products = ['iron_ore', 'soybean']

for product in products:
    file_path = path + product + '_data' + '.csv'
    df = pd.read_csv(file_path)
    print(df)
    if product == 'iron_ore':
        df['Date'] = pd.to_datetime(df['Date'], format='%b-%y')
    else:
        df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
    df.set_index('Date', inplace=True) # set date as index
    df = df[df.index >= '2014-04-01']
    print(df)

    
# df  = pd.read_csv('2Y_Bond.csv')
# df = df[['Date', 'Price']] # only date and price data
# df = df.iloc[::-1] # reverse for chronological order
# df.set_index('Date', inplace=True) # set date as index
# df.rename(columns={'Price': 'Close'}, inplace=True) # rename to Close for analysis

# df = df.dropna()
# df.Close.plot(figsize=(10, 7),color='r')
# plt.ylabel("2Y Bond Prices")
# plt.title("2Y Bond Price Series")
# plt.show()

       Date   Close
0    Apr-14  105.40
1    May-14   91.80
2    Jun-14   93.80
3    Jul-14   95.60
4    Aug-14   87.90
..      ...     ...
110  Jun-23  112.57
111  Jul-23  112.46
112  Aug-23  109.40
113  Sep-23  120.79
114  Oct-23  118.91

[115 rows x 2 columns]
             Close
Date
2014-04-01  105.40
2014-05-01   91.80
2014-06-01   93.80
2014-07-01   95.60
2014-08-01   87.90
...            ...
2023-06-01  112.57
2023-07-01  112.46
2023-08-01  109.40
2023-09-01  120.79
2023-10-01  118.91

[115 rows x 1 columns]
             Date   Close
0      1968-12-05  2.4375
1      1968-12-06  2.4475
2      1968-12-09  2.4363
3      1968-12-10  2.4375
4      1968-12-11  2.4463
...           ...     ...
13974  2024-04-29     NaN
13975  2024-04-30     NaN
13976  2024-05-01     NaN
13977  2024-05-02     NaN
13978  2024-05-03     NaN

[13979 rows x 2 columns]
             Close
Date
2014-04-01  14.840
2014-04-02  14.625
2014-04-03  14.755
2014-04-04  14.735
2014-04-07  14.645
...            ...
2024-04-29     NaN
2024-04-30     NaN
2024-05-01     NaN
2024-05-02     NaN
2024-05-03     NaN

[2569 rows x 1 columns]